<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{$title}-长沙橱柜设计师</title>

    <include file="./Public/View/js.html" />


  </head>

 
 <body role="document">
    <!-- Fixed navbar -->
    <!-- <include file="Public/head" /> -->
      <include file="./Public/View/user_head.html" />
      

    <div class="container-fluid">
      <div class="row">

        <!-- 左侧banner -->
        <include file="./Public/View/user_menu.html" />  

        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">用户中心</h1>

          <div class="row">
              <table class="table table-bordered">
                <div class="col-md-8">
                  <label class="col-sm-2 col-md-3 control-label">用户名</label>
                  <div class="col-sm-7 col-md-5">
                      {$user.name} 
                  </div>
                </div>
                <br>


                <div class="col-md-8">
                  <label class="col-sm-2 col-md-3 control-label">邮箱</label>
                  <div class="col-sm-7 col-md-5">
                      {$user.email}  
                  </div>
                </div>
                <br>


                <div class="col-md-8">
                  <label class="col-sm-2 col-md-3 control-label">电话</label>
                  <div class="col-sm-7 col-md-5">
                      {$user.phone}  
                  </div>
                </div>
                <br>


                <div class="col-md-8">
                  <label class="col-sm-2 col-md-3 control-label">QQ</label>
                  <div class="col-sm-7 col-md-5">
                      {$user.qq}  
                  </div>
                </div>
                <br>




              </table>            


          </div>


        </div>
      </div>
    </div>
 <!-- 内容结束 -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  </body>
</html>
