<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>{$article.title}</title>
  
  <!-- 双核浏览器默认为webkit内核模式 -->
  <meta name="renderer" content="webkit">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{$article.description}">
  <meta name="author" content="">

  <include file="./Public/View/js.html" />
  <style type="text/css">
   .blog-main img{
    max-width: 100%
   }
  
  </style>


</head>

<body role="document">
    <!-- Fixed navbar -->
  <include file="./Public/View/head.html" /> 

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">{$article.title}</h1>
        <p class="lead blog-description">{$article.description}</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">
          <div class="blog-post">
           <!--  <h2 class="blog-post-title">{$article.title}</h2> -->
            <p class="blog-post-meta">{$article.addtime}<a href="#">Mark</a></p>

            {$article.content}
          </div><!-- /.blog-post -->

          <div class="blog-post"></div><!-- /.blog-post -->

          <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
          </ul>

        </div><!-- /.blog-main -->

        <include file="banner" /> <!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- 内容结束 -->

    <include file="./Public/View/footer.html" /> 

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  </body>
</html>
