<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>栏目列表-cosplay中国站</title>
  
  <!-- 双核浏览器默认为webkit内核模式 -->
  <meta name="renderer" content="webkit">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- 可选的Bootstrap主题文件（一般不用引入） -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <link href="__ROOT__/Public/css/dashboard.css" rel="stylesheet">


</head>

<body role="document">
    <!-- Fixed navbar -->
    <!-- <include file="Public/head" /> -->
      <include file="./Public/View/admin_head.html" />
      

    <div class="container-fluid">
      <div class="row">

        <!-- 左侧banner -->
        <include file="./Public/View/admin_menu.html" />  

        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">栏目列表</h1>

          <div class="row">
            <table class="table table-bordered">
            <thead>
              <tr>
                <th class="col-md-1">id</th>
                <th class="col-md-8">标题</th>
                <th class="col-md-4">操作</th>
              </tr>
            </thead>
            <tbody>

              <foreach name="catlist" item="vo" >   
              <tr>
                <td>{$vo.id}</td>
                <td>{$vo.catname}</td>
                <td>{$vo.id}</td>
              </tr>
              </foreach>

            </tbody>
          </table>


          </div>


        </div>
      </div>
    </div>
 <!-- 内容结束 -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  </body>
</html>
