        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>关于作品</h4>
            <p>本人拥有作品的所有权利，如果抄袭、仿冒，必究!</p>
          </div>
          <div class="sidebar-module">
            <h4>个人设计作品一览</h4>
            <ol class="list-unstyled">
              <volist name="list" id="row">
              <li><a href="/article/{$row.id}.html">{$row.title}</a></li>
              </volist>
            </ol>
          </div>
<!--           <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div> -->
        </div><!-- /.blog-sidebar -->